<!DOCTYPE html>
<html>
<head>
    <title>AMR</title>
    <link href="/static/css/style.css" rel="stylesheet" />
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <!--<script src="https://d3js.org/d3.v5.min.js"></script>-->
    <!--<script src="/static/js/cytoscape.min.js"></script>-->
    <script src="/static/js/code.js"></script>
</head>
<body>
  <h1>网络关系图</h1>
  <form name="myform">
    <lable>请输入要查询的单词</lable>
    <input type="text"  id="words">
    <button onclick="query">查询</button>
  </form>
  <div id="cy"></div> 
</body>
</html>